@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  /* Fonts */

  /* urbanist-font */
  --fonts: "Urbanist", "sans-sarif";
  /* Ubuntu-fonts */
  /* --fonts: "Ubuntu Mono", monospace; */
  /* Themes */

  --color: #fff;

  /*<<<< Cyan Theme  #229799 >>>>*/
/*   --main-bg-org: #229799;
  --main-bg-dark: #312f2f;
  --hover-bg-org: #48cfcb;
  --heading-bg: #37b7c3;
  --heading-text-color: var(--main-bg-dark);
  --hr-bg-color: var(--heading-bg);
  --hover-text-color: #00333a; */

  /* <<<< Orange Theme  #e85c0d >>>>*/
  /*
  --main-bg-org: #e85c0d;
  --main-bg-dark: #191919;
  --hover-bg-org: #ff9100;
  --heading-bg: #f4a261;
  --heading-text-color: var(--main-bg-dark);
  --hr-bg-color: var(--heading-bg);
  --hover-text-color: #333333; */

  /* <<<< Blue Theme #075cc4 >>>>*/
  /* --main-bg-org: #075cc4;
  --main-bg-dark: #021526;
  --hover-bg-org: #6eacda;
  --heading-bg: #bbe9ff;
  --heading-text-color: var(--main-bg-dark);
  --hr-bg-color: var(--heading-bg);
  --hover-text-color: #f9f5e4; */

  /*<<<< Brown Theme #803D3B >>>>*/
 --main-bg-org: #803d3b;
  --main-bg-dark: #2b2625;
  --hover-bg-org: #af8260;
  --heading-bg: #e7d4b5;
  --heading-text-color: var(--main-bg-dark);
  --hr-bg-color: var(--heading-bg);
  --hover-text-color: #f9f5e4;


/*<<<<<< custom theme >>>>>>>>>>> */
  
  /* --main-bg-org:#705C53;
  --main-bg-dark:#FFF8DB;
  --hover-bg-org: #DCA47C;
  --heading-bg: #E68369;
  --heading-text-color: var(--main-bg-dark);
  --hr-bg-color: var(--heading-bg);
  --hover-text-color: #131842;*/

  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 0.4rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--hover-bg-org);
  border-radius: 20px;
  border: none;
}

body {
  background: linear-gradient(
    45deg,
    var(--main-bg-org),
    var(--main-bg-dark),
    var(--main-bg-org),
    var(--main-bg-dark)
  );
  background-size: cover;
  overflow: hidden;
  opacity: 0;
  font-family: var(--fonts);
  width: 100%;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hidden-header {
  transform: translateY(-15px);
  opacity: 0;
}
.appear {
  opacity: 1;
  transition: all 0.2s ease;
  transform: translateY(0);
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  background: (
    45deg,
    var(--main-bg-org),
    var(--main-bg-dark),
    var(--main-bg-org),
    var(--main-bg-dark)
  );
  background-size: cover;
  transition: all 0.3s ease;
}
.buttons {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

/* .button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
} */

ul li a {
  text-decoration: none;
  color: var(--color);
  padding: 8px 15px;
  border-radius: 20px;
  margin-top: 10px;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  font-weight: 500;
  transition: background 300ms ease-in;
}

ul li a i {
  margin-right: 10px;
}

.topbuttons {
  background-color: var(--main-bg-dark);
  color: var(--color);
  position: relative;
  z-index: 9;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
}

ul li a:hover {
  background-color: var(--hover-bg-org);
  color: var(--hover-text-color);
  transition: all 0.5s;
}
.blocka {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 260px;
  background: var(--main-bg-dark);
  background-size: cover;
  margin-left: 15px;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

  opacity: 0;
  transform: translateY(-3rem);
}
.blocka-appear {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 260px;
  background: var(--main-bg-dark);
  background-size: cover;
  margin-left: 15px;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

  transition: all 0.5s ease;
}

.heading {
  color: var(--heading-text-color);
  margin: 10px 0 0px 10px;
  font-size: 20px;
  background: var(--heading-bg);
  /* text-align: center; */
  padding: 4px;
  border-radius: 15px;
}
.index {
  width: 100%;
  border: none;
  font-size: 15px;
  font-weight: 500;
  line-height: 34px;
  position: relative;
  z-index: 999;
}
.maincontainer {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  margin-top: 10px;
  position: relative;
}
.iecd {
  font-size: 15px;
}
hr {
  opacity: 0.25;
  border: 0;
  border-top: 2px solid var(--hr-bg-color);
  color: var(--hr-bg-color);
  background-color: var(--hr-bg-color);
  height: 2px;
}
.crsr {
  opacity: 1;
  position: absolute;
  animation: heartbeat 1s linear infinite;
  pointer-events: none;
  color: var(--color);
}
.crsr-1 {
  font-size: 2rem;
  z-index: 99999;
  transition: left 50ms linear, top 50ms linear;
}
.crsr-2 {
  font-size: 1.7rem;
  transition: left 100ms linear, top 100ms linear;
  z-index: 99998;
  opacity: 0;
}
.crsr-3 {
  font-size: 1.4rem;
  transition: left 150ms linear, top 150ms linear;
  z-index: 99997;
  opacity: 0;
}
.crsr-4 {
  font-size: 1.1rem;
  transition: left 200ms linear, top 200ms linear;
  z-index: 99996;
  opacity: 0;
}
.blur-cursor {
  width: 250px;
  height: 250px;
  position: absolute;
  background: #00000080;

  border-radius: 50%;
  z-index: 999;
  pointer-events: none;
  display: none;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.2);
  }
  15% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.8);
  }
  85% {
    transform: scale(0.9);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* .blockb{
        display: none;
      } */

/* ==============OTHER EXPENDITURE============= */
.other-expenditure {
  width: 20%;
  height: 80%;
  position: absolute;
  top: 6rem;
  left: 65%;
  border: 2px solid var(--hr-bg-color);
  z-index: 9999;
  border-radius: 10px;
  display: none;
  animation: animate 0.3s ease;
}

@keyframes animate {
  from {
    opacity: 0;
    top: 4rem;
  }
  to {
    opacity: 1;
    top: 6rem;
  }
}
.show-expenditure {
  display: block;
}

.oe-items {
  background: var(--main-bg-dark);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: 0.5rem;
}
.oelinks {
  text-decoration: none;
  color: var(--color);
  display: inline-block;
  padding: 0.7rem 1rem;
  margin: 5px;
  border-radius: 30px;
  transition: all 0.5s ease;
  transform: translateX(-400px);
  opacity: 0;
}
.oelinks:hover {
  background-color: var(--hover-bg-org);
  color: #000;
}
.background-active {
  background-color: var(--hover-bg-org);
  color: #000;
}

/* search for expenditure*/
#search-expenditure {
  outline: none;
  border: 2px solid var(--heading-bg);
  background: transparent;
  width: 90%;
  margin: auto;
  display: inline-block;
  color: var(--color);
  padding: 10px;
  border-radius: 20px;

  margin-top: 5px;
}
.search-results {
  width: 100%;
  height: 100%;
}

/* Al hifza schedule */

.main {
  width: 300px;
  border: 1px solid #aaa;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-bg-dark);
  color: var(--color);
  border-radius: 30px;
  padding: 2rem 0;
  position: absolute;
  top: 1.5rem;
  display: none;
  right: 15rem;
  z-index: 1999999;
}
@keyframes animate2 {
  from {
    opacity: 0;
    top: 2rem;
    /* box-shadow: 0px 0px 0px 0px #fff; */
  }
  to {
    opacity: 1;
    top: 3.7rem;
    /* box-shadow: 0px 0px 20px 5px #fff; */
  }
}
.main2 {
  top: 3.7rem;
  display: flex;
  animation: animate2 0.4s ease;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 80%;
}
.inputs p {
  padding: 0 2rem;
  margin: 0 0 0.4rem 0;
}
.text-input {
  outline: none;
  border: none;
  background-color: var(--main-bg-dark);

  display: block;
  height: 2rem;
  width: 100%;
  color: var(--color);
  padding: 15px;
  border-radius: 20px;

  transition: 0.4s all ease;
}
.outputs {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: 0.8rem 0;

  width: 90%;
  padding: 10px;
  background-color: var(--main-bg-dark);

  border-radius: 10px;
}
.outputs .output {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
}
.text-input:focus {
  box-shadow: 0 0 10px 4px #aaa;
  transition: 0.4s all ease;
}
.active-tb {
  background-color: var(--hover-bg-org);
  color: var(--main-bg-dark);
  transform: translateY(3px);
}
.topbuttons:hover {
  transform: translateY(3px);
}
/*  Response to mobile 920px width */
@media screen and (max-width: 920px) {
  body {
    overflow-y: auto;
  }
  .maincontainer {
    position: relative;
    flex-direction: column;
    margin-top: 2rem;
  }
  .crsr {
    display: none;
  }
  .blur-cursor {
    display: none;
  }
  .blocka-appear {
    width: 90vw;
    /* height: 50px; */
    /* overflow: hidden; */
    margin: auto;
    box-shadow: none;
    margin-bottom: 0.7rem;
  }
  /* appear class */

  .other-expenditure {
    width: 90vw;
    margin: auto;
    left: 1rem;
  }
  .topbuttons {
    font-size: 14px;
    height: 35px;
    gap: 0;
  }
  .buttons {
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 10px;
  }
}
